<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div class="article">
        <div class="blog-article">
          <h5><%=blog.date.toDateString()%></h5>
          <p><%=blog.title%></p>
          <img class="image" src="<%=blog.image%>" alt="" />
          <h3><%=blog.content%></h3>
        </div>
      </div>
      <div class="buttons">
        <%if(blog.id == blogList[0].id){%>
        <a href="/<%=blogList[1].id%>">Next article</a>
        <%}else if(blog.id == blogList[blogList.length - 1].id){%>
        <a href="/<%=blogList[blogList.length - 2].id%>">Previous article</a>
        <%} else{%>
        <a
          href="/<%=blogList[blogList.findIndex(el => el.id == blog.id) - 1 ].id%>"
          >Previous article</a
        >
        <a
          href="/<%=blogList[blogList.findIndex(el => el.id == blog.id) + 1 ].id%>"
          >Next article</a
        >
        <%}%>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
